jupyter==1.0.0
# matplotlib==3.2.2
numpy==2.0.0
pandas==2.2.2
pip == 22.3.1
torch==2.4.1
torchaudio
torchtext
torchvision
onnxscript
onnxruntime==1.19.2
flask
python-dotenv==1.0.1
scikit-learn==1.5.2
scipy==1.14.1
psycopg2-binary==2.9.10